
.section__container{
    /* height: 100vh; */
    max-width: 100%;
    background-color: white;
    padding-bottom: 20px;
    margin: auto;
    border-top: 1px solid black;
    padding-bottom: 100px;
}
.section_header{   
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}

.card_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}
