.contact-box-container{
    display: flex;
    flex-direction: row;
    background-color: rgba(21, 20, 20, 0.941);
    height: auto;
    width:100%;
}
@media only screen and (max-width: 600px) {
    .contact-box-container{
        flex-direction: column;
    }
}