* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HowWorksSec {
  /* background-color: rgb(30, 24, 24); */
  background-color: rgb(29, 27, 27);
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.heading {
  padding: 10px;
  color: #fff;
  box-shadow: 0px 3px 0px rgb(244, 240, 240);
  border-radius: 12px 5px;
  background-color: rgb(29, 27, 27);
  
}
h2 {
  background: -webkit-linear-gradient(281deg, #ffffff 13%, #6284ff 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 3vh;
  color: #fff;
  /* top: 40vh; */
  /* position: absolute;
    background: red;
    color: #fff;
    right: 81vw;
    top: 30vh; */
}
.icon {
  /* position: absolute; */
  /* background: red; */
  /* color: #fff;
    right: 80vw;
    top: 20vh; */
}
.iconInsta {
  color: darkmagenta;
  position: relative;
  transform: rotate(5deg);
  bottom: 5vh;
  cursor: pointer;
}
.icontwittter {
  color: #fff;
  position: relative;
  transform: rotate(-20deg);
}
.iconLinkedin {
  color: #fff;
  position: relative;
  transform: rotate(-12deg);
  right: 0.5vw;
}
.iconDiscord {
  color: #fff;
  position: relative;
  transform: rotate(-12deg);
  right: 0.5vw;
  bottom: 3vh;
}

.icon-container {
  /* width: vw; */
  /* height: auto; */
  display: flex;
  justify-content: space-between;
}
.flex-box {
  /* width:100vw;
  height: 100vh; */
  margin: 10vw;
  margin-top: 15vh;
  /* background: rgb(213, 29, 29); */
}
.arrow-icon {
  color: rgb(163, 155, 155);
  position: relative;
  top: 15vh;
}
