.contact-card-container{
    height: auto;
    width: 30vw;
    padding: 20px;
    margin: 25px;
    border-radius: 3%;
    background-color: rgb(29, 39, 51);
    text-align: left;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-card-heading{
    font-size: 35px;
}
.contact-card-details-container{
    margin-top: 20px;
}
.contact-social-container{
    margin-top: 10px;
}
.contact-footer-element{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.contact-footer-element-container{
    margin-top: 190px;
    display: flex;
    flex-direction: column;
}

.contact_tagline{
    
}

@media only screen and (max-width: 600px) {
    .contact-card-container{
        width:auto;
        height: auto;
    }
}