
.OurTeamCard-container{
    background-color: #3f3f528c;
    height: 320px;
    width: 250px;
    margin: 8px;
    border-radius: 15px;
}
.OurTeamCard-members-image{
    height:125px;
    width: 125px;
border-radius: 50%;
margin: 15px;
}
.OurTeamCard-members-socialmedia_container{
    justify-content: space-evenly;
}
.OurTeamCard-members-name{
    font-size: 30px;
}
.OurTeamCard-members-headline{
    font-size: 15px;
    font-weight:lighter;
}
.portfolio__button{
    width: 70%;
    height: 10%;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5%;
}
.OurTeamCard-members-socialmedia_container{
    padding: 15px;
}